body {
  background-color: rgb(228, 223, 223);
}
h1 {
  color: brown;
  background-color: rgb(241, 119, 119);
}

ul li a {
  color: green;
  background-color: antiquewhite;
  font-weight: 800;
}

.para1 {
  color: rgb(148, 148, 148);
}

.para2 {
  color: rgb(148, 148, 148);
}

.para3 {
  color: rgb(248, 200, 111);
  background-color: antiquewhite;
}
.para4 {
  color: rgb(148, 148, 148);
}
